*{
    margin: 0px;
    padding: 0px;
}
/* body{
    background-image: linear-gradient(to right top, #071c3b, #1f4163, #386a8c, #5596b5, #77c4dd);
} */
#wrapper_row{
    display: flex;
    flex-direction: row;
    /* height: 600px; */
    /* border:2px solid black; */
    margin-top: 85px;
}
#cards_section_col{
    display: flex;
    flex-direction: column;
}
#profile_stats{
    display: flex;
    flex-direction: column;
    margin-left: 50px;
    margin-top: 50px;
}
#profile{
    height: 360px;
    width: 300px;
    border-radius: 25px;
    /* border:2px solid black; */
    padding: 10px;
    background-color: #333333;
}
#stocks{
    margin-top: 30px;
    height:160px;
    width: 300px;
    /* border: 2px solid black; */
    border-radius: 25px;
    padding: 10px;
    background-color: #D9D9D9;
}
#games_article_row{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    /* height: 400px; */
    width: 1150px;
    margin-top: 50px;
    /* border: 2px solid black; */
}
#game_card,#article_card{
    height: 200px;
    width: 500px;
    /* border:2px solid black; */
    border-radius: 25px;
    padding: 10px;    
}
hr{
    margin-left: 20px;
}
#game_card{
    background-color: #A6A5FF;
}
#article_card{
    background-color: #FF71ACB5;
}

#Learn_row{
    width:1150px;
    /* height: 300px; */
    /* border:2px solid black; */
    /* padding: 5px; */
}
#Learn_row h2{
    margin-left: 55px;
    margin-top: 20px;
}
#IP_Wrapper h2{
    margin-left: 55px;
    margin-top: 20px;
}