form{
    margin: 0.8rem;
    display: flex;
    flex-direction: column;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

.input{
    font-size: 2rem;
    background-color: rgba(255,255,255,0.2);
    border: none;
    color: white;
    padding: 1.5rem;
    display: block;
    width: 100%;
    margin-top: 0.3rem;
    border-radius: 30px;
    margin-bottom: 1rem;
}

.input::placeholder{
    color: #bebebe;
}

.input:focus{
    border: none;
    outline: none;
}

.checkbox{
    font-weight: 300;
    margin-top: 0.3rem;
    padding-left: 20px;
}

label{
    margin-left: 0.3rem;
}

.loginbut{
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: center;
    margin-top: 2rem;
    border: none;
    border-color: none;
}

.loginn{
    background-color: rgb(255, 191, 242);
    text-align: center;
    color: rgb(193, 0, 157);
    font-weight: 500;
    font-size: 1.25rem;
    width:6rem;
    padding: 0.5rem;
    border-radius: 20px;
    border: none;
}

.loginbut p{
    margin-top: 1rem;
    font-weight: 300;
}

.loginbut span{
    color:aquamarine;
}

.text-danger{
    color: red;
    padding-left: 20px;
}